PORT=5000

# PostgreSQL Database Configuration
DATABASE_URL=postgresql://support_ai_frontend_user:UlWXIKzoufmkwH9U6RnV9WSYvfWLrmAQ@dpg-d79l88hr0fns73eivsrg-a/support_ai_frontend
DB_SSL=false

# OpenRouter API Configuration
OPENROUTER_API_KEY=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
# The Site URL and Site Name are recommended by OpenRouter for ranking/metrics
OPENROUTER_SITE_URL=https://openrouter.ai/workspaces/default/keys?utm_source=signup-success
OPENROUTER_SITE_NAME=OpenRouter

# Meta WhatsApp Business API
# The 'verify token' you configure in the Meta App Dashboard for webhook verification
WHATSAPP_WEBHOOK_VERIFY_TOKEN=Techteam2026
WHATSAPP_API_TOKEN=EAAR4Lndbb9QBRIhBhm6Kl1O5OOpYcca2P6z9YXbASONJfHp1a6KdfiV6OGClP6J19JJi4hYboxFUCoIrZCzpRke5VZCAZBxmrtfQdAQLtD9GWu3MMvdZAI9uGc4pZA4dRfuT78oupYPHCh9bTzpGCRvAH92OKUsIZAZCEGxH5cCh6zZBWjo6oNVQV3WJ1ZCVeNXOSVKdrLkyUBy248uqXnr2mcakyeZBZCFqd3EZAsm7ghHOZAetSkhjCf3k1noblNp6m9tZA7oYZACvCZAkMfJYxxbeXK6Q
WHATSAPP_PHONE_NUMBER_ID= 969397632933166
